@font-face {
    font-family: "shabnamThin";
    src: url(/public/fonts/shabnamThin.woff2) format("woff2");
}

@font-face {
    font-family: "shabnamLight";
    src: url(/public/fonts/shabnamLight.woff2) format("woff2");
}

@font-face {
    font-family: "shabnamRegular";
    src: url(/public/fonts/shabnamRegular.woff2) format("woff2");
}

@font-face {
    font-family: "shabnamMedium";
    src: url(/public/fonts/shabnamMedium.woff2) format("woff2");
}

@font-face {
    font-family: "shabnamBold";
    src: url(/public/fonts/shabnamBold.woff2) format("woff2");
}


@import "tailwindcss";


@theme {
    /* Colors: */
    --color-primary: #CB1B1B;
    --color-primary-shade-1: #B41818;
    --color-primary-shade-2: #9E1515;
    --color-primary-shade-3: #871212;
    --color-primary-shade-4: #700F0F;
    --color-primary-shade-5: #5A0C0C;
    --color-primary-shade-6: #430909;
    --color-primary-tint-1: #FDF1F1;
    --color-primary-tint-2: #FCE8E8;
    --color-primary-tint-3: #F9D2D2;
    --color-primary-tint-4: #F6BBBB;
    --color-primary-tint-5: #FCA197;
    --color-primary-tint-6: #F66262;
    --color-primary-tint-7: #E43434;

    --color-gray-1: #FAFAFA;
    --color-gray-2: #F9F9F9;
    --color-gray-3: #EDEDED;
    --color-gray-4: #D9D9D9;
    --color-gray-5: #D9D9D9;
    --color-gray-6: #CBCBCB;
    --color-gray-7: #ADADAD;
    --color-gray-8: #909090;
    --color-gray-9: #717171;
    --color-gray-10: #505050;
    --color-gray-11: #353535;
    --color-gray-12: #212121;
    --color-gray-13: #121212;
    --color-black: #0C0C0C;

    --color-error: #C30000;
    --color-error-light-1: #ED2E2E;
    --color-error-light-2: #FFF2F2;

    --color-success: #00966D;
    --color-success-light-1: #00BA88;
    --color-success-light-2: #F3FDFA;

    --color-warning: #A9791C;
    --color-warning-light-1: #F4B740;
    --color-warning-light-2: #FFF8E1;


    /* Fonts: */
    --font-shabnamThin: shabnamThin;
    --font-shabnamLight: shabnamLight;
    --font-shabnamRegular: shabnamRegular;
    --font-shabnamMedium: shabnamMedium;
    --font-shabnamBold: shabnamBold;


    /* Sizes: */
    --text-display-1: 4rem;
    --text-display-1--line-height: 140%;

    --text-display-2: 3.5rem;
    --text-display-2--line-height: 120%;

    --text-h1: 2.75rem;
    --text-h1--line-height: 140%;

    --text-h2: 2.5rem;
    --text-h2--line-height: 140%;

    --text-h3: 2rem;
    --text-h3--line-height: 140%;

    --text-h4: 1.5rem;
    --text-h4--line-height: 140%;

    --text-h5: 1.25rem;
    --text-h5--line-height: 140%;

    --text-h6: 1rem;
    --text-h6--line-height: 140%;

    --text-body-3xl: 2.75rem;
    --text-body-3xl--line-height: 140%;

    --text-body-2xlg: 2.5rem;
    --text-body-2xlg--line-height: 140%;

    --text-body-xlg: 2rem;
    --text-body-xlg--line-height: 140%;

    --text-body-lg: 1.75rem;
    --text-body-lg--line-height: 180%;

    --text-body-md: 1.5rem;
    --text-body-md--line-height: 180%;

    --text-body-smd: 1.5rem;
    --text-body-smd--line-height: 180%;

    --text-body-regular: 1.25rem;
    --text-body-regular--line-height: 180%;

    --text-body-s: 1.125rem;
    --text-body-s--line-height: 180%;

    --text-body-xs: 1rem;
    --text-body-xs--line-height: 180%;

    --text-body-xxs: 0.875rem;
    --text-body-xxs--line-height: 180%;

    --text-caption-lg: 0.875rem;
    --text-caption-lg--line-height: 180%;

    --text-caption-md: 0.75rem;
    --text-caption-md--line-height: 180%;

    --text-button-xlg: 1.125rem;
    --text-button-xlg--line-height: 180%;

    --text-button-lg: 1rem;
    --text-button-lg--line-height: 180%;

    --text-button-md: 0.875rem;
    --text-button-md--line-height: 180%;

    --text-button-s: 0.75rem;
    --text-button-s--line-height: 180%;

    /* For Mobile: */
    --text-h1-mobile: 1.5rem;
    --text-h2-mobile: 1rem;
    --text-h3-mobile: 0.875rem;
    --text-h4-mobile: 0.75rem;
    --text-h5-mobile: 1rem;
    --text-h6-mobile: 0.625rem;

    --text-body-16: 1rem;
    --text-body-14: 0.875rem;
    --text-body-12: 0.75rem;
    --text-body-12: 0.75rem;
    --text-body-10: 0.625rem;

    --text-button-14: 0.875rem;
    --text-button-12: 0.75rem;
    --text-button-10: 0.625rem;
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}